<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="All API tests using RestAssured">
    <test name="REST API TESTS">
        <classes>
            <class name="api.PredefinedDataTest"></class> <!--generate required Tokens for all tests-->
            <class name="api.ListOfAllUsersDataTest"></class>
            <class name="api.CreateNewUserTest"></class>
            <class name="api.UpdateUserTest"></class>
            <class name="api.DeleteUserTest"></class>
            <class name="api.CreateQuizTest"/>
            <class name="api.UpdateQuizTest"/>
            <class name="api.DeleteQuizTest"/>
            <class name="api.GetStudentGradesTest"></class>
            <class name="api.GetStudentAssignmentsTest"></class>
        </classes>
    </test>
</suite>