<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="All API tests using RestAssured">
    <test name="REST API TESTS">
        <classes>
            <class name="api.PredefinedDataTest"/> <!--generate required Tokens for all tests-->
            <class name="api.ListOfAllUsersDataTest"/>
            <class name="api.CreateNewUserTest"/>
            <class name="api.UpdateUserTest"/>
            <class name="api.DeleteUserTest"/>
            <class name="api.CreateQuizTest"/>
            <class name="api.UpdateQuizTest"/>
            <class name="api.DeleteQuizTest"/>
            <class name="api.GetStudentGradesTest"/>
            <class name="api.GetStudentAssignmentsTest"/>
        </classes>
    </test>
</suite>